<!DOCTYPE html>
<html style="background-image: linear-gradient(to bottom, hsl(120, 50%, 90%), hsl(120, 50%, 70%));">
<head>
    <title>Energy Consumption Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="title">
            <h1>Energy Consumption Analysis System</h1>
        </div>
        <div class="index-buttons">
            <button><a href="{{ url_for('index') }}">Home</a></button>
            <button><a href="{{ url_for('inspect') }}">Inspect</a></button>
        </div>
    </header>
    <div class="container">
        <h1>Energy Consumption Inspection</h1>
        <form action="{{ url_for('inspect') }}" method="POST">
            <label for="GlobalReactivePower">Remaining active Power:</label>
            <input type="text" name="GlobalReactivePower" required><br><br>
            
            <label for="Global_intensity">Current Intensity:</label>
            <input type="text" name="Global_intensity" required><br><br>
            
            <label for="Sub_metering_1">Sub-metering 1:</label>
            <input type="text" name="Sub_metering_1" required><br><br>
            
            <label for="Sub_metering_2">Sub-metering 2:</label>
            <input type="text" name="Sub_metering_2" required><br><br>
            
            <label for="Sub_metering_3">Sub-metering 3:</label>
            <input type="text" name="Sub_metering_3" required><br><br>
            
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>